# Node
node_modules/
npm-debug.log
yarn-error.log

# Env
.env
.env.*

# React Native
android/build/
android/app/build/
ios/build/

# Android
.gradle
.cxx/
local.properties
*.keystore
!debug.keystore

# iOS
build/
DerivedData
**/Pods/

# Metro
.metro-health-check*

# Expo (por si acaso)
.expo/
.expo-shared/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing
coverage